In [2]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
#load dataset
df = spark.read.format("csv")\
        .option("inferSchema", True)\
        .option("header", True)\
        .load("file:///Users/Neeraj/Documents/Proj/Spark/diabetes_readmission-master/diabetic_data.csv")
df.printSchema()

root
 |-- encounter_id: integer (nullable = true)
 |-- patient_nbr: integer (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- admission_type_id: integer (nullable = true)
 |-- discharge_disposition_id: integer (nullable = true)
 |-- admission_source_id: integer (nullable = true)
 |-- time_in_hospital: integer (nullable = true)
 |-- payer_code: string (nullable = true)
 |-- medical_specialty: string (nullable = true)
 |-- num_lab_procedures: integer (nullable = true)
 |-- num_procedures: integer (nullable = true)
 |-- num_medications: integer (nullable = true)
 |-- number_outpatient: integer (nullable = true)
 |-- number_emergency: integer (nullable = true)
 |-- number_inpatient: integer (nullable = true)
 |-- diag_1: string (nullable = true)
 |-- diag_2: string (nullable = true)
 |-- diag_3: string (nullable = true)
 |-- number_diagnoses: integer (nullable = true)
 |-- max_glu_serum: string (nullable = true)
 |-- A1Cresult: string (nullable = true)
 |-- metformin: string (nullable = true)
 |-- repaglinide: string (nullable = true)
 |-- nateglinide: string (nullable = true)
 |-- chlorpropamide: string (nullable = true)
 |-- glimepiride: string (nullable = true)
 |-- acetohexamide: string (nullable = true)
 |-- glipizide: string (nullable = true)
 |-- glyburide: string (nullable = true)
 |-- tolbutamide: string (nullable = true)
 |-- pioglitazone: string (nullable = true)
 |-- rosiglitazone: string (nullable = true)
 |-- acarbose: string (nullable = true)
 |-- miglitol: string (nullable = true)
 |-- troglitazone: string (nullable = true)
 |-- tolazamide: string (nullable = true)
 |-- examide: string (nullable = true)
 |-- citoglipton: string (nullable = true)
 |-- insulin: string (nullable = true)
 |-- glyburide-metformin: string (nullable = true)
 |-- glipizide-metformin: string (nullable = true)
 |-- glimepiride-pioglitazone: string (nullable = true)
 |-- metformin-rosiglitazone: string (nullable = true)
 |-- metformin-pioglitazone: string (nullable = true)
 |-- change: string (nullable = true)
 |-- diabetesMed: string (nullable = true)
 |-- readmitted: string (nullable = true)

In [7]:
df.createOrReplaceTempView("diabetes")

In [9]:
spark.sql("select race, gender from diabetes").show(5)

+---------------+------+
|           race|gender|
+---------------+------+
|      Caucasian|Female|
|      Caucasian|Female|
|AfricanAmerican|Female|
|      Caucasian|  Male|
|      Caucasian|  Male|
+---------------+------+
only showing top 5 rows

In [10]:
# get count of records
df.count()

101766

In [11]:
# get info about dataset
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int32
patient_nbr                 101766 non-null int32
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int32
discharge_disposition_id    101766 non-null int32
admission_source_id         101766 non-null int32
time_in_hospital            101766 non-null int32
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int32
num_procedures              101766 non-null int32
num_medications             101766 non-null int32
number_outpatient           101766 non-null int32
number_emergency            101766 non-null int32
number_inpatient            101766 non-null int32
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int32
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int32(13), object(37)
memory usage: 33.8+ MB

In [12]:
df.toPandas().describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [17]:
pd.set_option('max_columns',None)
df.toPandas().head(5)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [21]:
df.groupBy('readmitted').count().alias('count').select("readmitted", "count").show()

+----------+-----+
|readmitted|count|
+----------+-----+
|       >30|35545|
|        NO|54864|
|       <30|11357|
+----------+-----+

In [23]:
spark.sql(""" select readmitted, count(*) as count from diabetes group by readmitted""").show()

+----------+-----+
|readmitted|count|
+----------+-----+
|       >30|35545|
|        NO|54864|
|       <30|11357|
+----------+-----+

In [26]:
# change the value
spark.sql("""
    select patient_nbr, gender, age, 
    case when readmitted = 'NO' then 0
         when readmitted = '<30' then 1
         when readmitted = '>30' then 2
    end as readmitted
    from diabetes
""").show()

+-----------+------+--------+----------+
|patient_nbr|gender|     age|readmitted|
+-----------+------+--------+----------+
|    8222157|Female|  [0-10)|         0|
|   55629189|Female| [10-20)|         2|
|   86047875|Female| [20-30)|         0|
|   82442376|  Male| [30-40)|         0|
|   42519267|  Male| [40-50)|         0|
|   82637451|  Male| [50-60)|         2|
|   84259809|  Male| [60-70)|         0|
|  114882984|  Male| [70-80)|         2|
|   48330783|Female| [80-90)|         0|
|   63555939|Female|[90-100)|         0|
|   89869032|Female| [40-50)|         2|
|   77391171|  Male| [60-70)|         1|
|   85504905|Female| [40-50)|         1|
|   77586282|  Male| [80-90)|         0|
|   49726791|Female| [60-70)|         2|
|   86328819|  Male| [60-70)|         0|
|   92519352|  Male| [50-60)|         1|
|  108662661|Female| [50-60)|         0|
|  107389323|  Male| [70-80)|         2|
|   69422211|  Male| [70-80)|         0|
+-----------+------+--------+----------+
only showing top 20 rows

In [44]:
# are there duplicate patient_nbr in the data set
df.selectExpr("count(patient_nbr)", "count(distinct(patient_nbr))").show()

+------------------+---------------------------+
|count(patient_nbr)|count(DISTINCT patient_nbr)|
+------------------+---------------------------+
|            101766|                      71518|
+------------------+---------------------------+

In [52]:
from pyspark.sql.functions import col
df.select("discharge_disposition_id").distinct().orderBy(col('discharge_disposition_id').desc()).show(30)

+------------------------+
|discharge_disposition_id|
+------------------------+
|                      28|
|                      27|
|                      25|
|                      24|
|                      23|
|                      22|
|                      20|
|                      19|
|                      18|
|                      17|
|                      16|
|                      15|
|                      14|
|                      13|
|                      12|
|                      11|
|                      10|
|                       9|
|                       8|
|                       7|
|                       6|
|                       5|
|                       4|
|                       3|
|                       2|
|                       1|
+------------------------+

In [54]:
df1 = df.where("discharge_disposition_id not in (11,13,14,19,20,21)")

In [75]:
# lets add a new attribute (int type) indicating if patient is admitted in less than 30 days
df2=df1.withColumn("output_label", expr("readmitted == '<30'").cast("int")).select("readmitted", "output_label")

In [76]:
df2.createOrReplaceTempView("df2")
df2.show()

+----------+------------+
|readmitted|output_label|
+----------+------------+
|        NO|           0|
|       >30|           0|
|        NO|           0|
|        NO|           0|
|        NO|           0|
|       >30|           0|
|        NO|           0|
|       >30|           0|
|        NO|           0|
|        NO|           0|
|       >30|           0|
|       <30|           1|
|       <30|           1|
|        NO|           0|
|       >30|           0|
|        NO|           0|
|       <30|           1|
|        NO|           0|
|       >30|           0|
|        NO|           0|
+----------+------------+
only showing top 20 rows

In [84]:
from pyspark.sql.functions import avg, count

spark.sql("""
    select count(*) as total, sum(output_label) as sum_ol, avg(output_label) as avg_ol, sum(output_label)/count(*)
    from df2
""").show()

+-----+------+-------------------+------------------------------------------------------------------------------+
|total|sum_ol|             avg_ol|(CAST(sum(CAST(output_label AS BIGINT)) AS DOUBLE) / CAST(count(1) AS DOUBLE))|
+-----+------+-------------------+------------------------------------------------------------------------------+
|99343| 11314|0.11388824577474005|                                                           0.11388824577474005|
+-----+------+-------------------+------------------------------------------------------------------------------+

In [83]:
df2.select(sum("output_label")).show()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [89]:
pd.set_option("max_columns", None)
df1.toPandas().head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [92]:
spark.sql("""
    select patient_nbr, count(*) as total from diabetes
    group by patient_nbr
    order by count(*) desc
""").show(10)

+-----------+-----+
|patient_nbr|total|
+-----------+-----+
|   88785891|   40|
|   43140906|   28|
|   88227540|   23|
|   23199021|   23|
|    1660293|   23|
|   84428613|   22|
|   23643405|   22|
|   92709351|   21|
|   88789707|   20|
|   29903877|   20|
+-----------+-----+
only showing top 10 rows

In [95]:
# this patient was readmitted multiple times in a day? 
spark.sql("select encounter_id, race, gender, age, weight from diabetes where patient_nbr = 88785891").show()

+------------+---------+------+-------+------+
|encounter_id|     race|gender|    age|weight|
+------------+---------+------+-------+------+
|   119039172|Caucasian|Female|[20-30)|     ?|
|   125094312|Caucasian|Female|[20-30)|     ?|
|   126171582|Caucasian|Female|[20-30)|     ?|
|   137245596|Caucasian|Female|[20-30)|     ?|
|   139425576|Caucasian|Female|[20-30)|     ?|
|   141994242|Caucasian|Female|[20-30)|     ?|
|   150986298|Caucasian|Female|[20-30)|     ?|
|   151413846|Caucasian|Female|[20-30)|     ?|
|   152188656|Caucasian|Female|[20-30)|     ?|
|   153558456|Caucasian|Female|[20-30)|     ?|
|   154527444|Caucasian|Female|[20-30)|     ?|
|   157363182|Caucasian|Female|[20-30)|     ?|
|   158500410|Caucasian|Female|[20-30)|     ?|
|   168920160|Caucasian|Female|[20-30)|     ?|
|   174689286|Caucasian|Female|[20-30)|     ?|
|   175632402|Caucasian|Female|[20-30)|     ?|
|   183194856|Caucasian|Female|[20-30)|     ?|
|   191345028|Caucasian|Female|[20-30)|     ?|
|   205106328|Caucasian|Female|[20-30)|     ?|
|   210079272|Caucasian|Female|[20-30)|     ?|
+------------+---------+------+-------+------+
only showing top 20 rows

In [122]:
# replace ? with nan across dataframe
df5 = df.na.replace('?', None)
df5.selectExpr("encounter_id", "race", "gender", "age", "weight", "payer_code", "medical_specialty")\
    .where("weight is null").show(4)

+------------+---------------+------+-------+------+----------+--------------------+
|encounter_id|           race|gender|    age|weight|payer_code|   medical_specialty|
+------------+---------------+------+-------+------+----------+--------------------+
|     2278392|      Caucasian|Female| [0-10)|  null|      null|Pediatrics-Endocr...|
|      149190|      Caucasian|Female|[10-20)|  null|      null|                null|
|       64410|AfricanAmerican|Female|[20-30)|  null|      null|                null|
|      500364|      Caucasian|  Male|[30-40)|  null|      null|                null|
+------------+---------------+------+-------+------+----------+--------------------+
only showing top 4 rows

In [138]:
# race, payer_code and medical_specialty have missing values, so assign 'UNKNOWN' to missing values
df6 = df5.na.fill("UNKNOWN")
df6.createOrReplaceTempView("df6")

In [139]:
df6.select("race", "payer_code", "medical_specialty", "weight").show(5)

+---------------+----------+--------------------+-------+
|           race|payer_code|   medical_specialty| weight|
+---------------+----------+--------------------+-------+
|      Caucasian|   UNKNOWN|Pediatrics-Endocr...|UNKNOWN|
|      Caucasian|   UNKNOWN|             UNKNOWN|UNKNOWN|
|AfricanAmerican|   UNKNOWN|             UNKNOWN|UNKNOWN|
|      Caucasian|   UNKNOWN|             UNKNOWN|UNKNOWN|
|      Caucasian|   UNKNOWN|             UNKNOWN|UNKNOWN|
+---------------+----------+--------------------+-------+
only showing top 5 rows

In [144]:
# get unique value count for each medical_specialty
top10 =  df6.select("medical_specialty").groupBy("medical_specialty").count().orderBy("count",ascending=False).limit(10)
top10.show(20, False)
top10.createOrReplaceTempView("top10")

+--------------------------+-----+
|medical_specialty         |count|
+--------------------------+-----+
|UNKNOWN                   |49949|
|InternalMedicine          |14635|
|Emergency/Trauma          |7565 |
|Family/GeneralPractice    |7440 |
|Cardiology                |5352 |
|Surgery-General           |3099 |
|Nephrology                |1613 |
|Orthopedics               |1400 |
|Orthopedics-Reconstructive|1233 |
|Radiologist               |1140 |
+--------------------------+-----+

In [157]:
# set anything not in top 10 categories as 'Others'
df7 = spark.sql("""
    select *,
    case when medical_specialty not in ('UNKNOWN','InternalMedicine','Emergency/Trauma','Cardiology','Surgery-General','Nephrology','Orthopedics','Orthopedics-Reconstructive','Radiologist') 
    then 'Others' else medical_specialty end as new_med
    from df6
""")

df7 = df7.drop('medical_specialty')
df7.select("race", "payer_code", "weight", "new_med").show()

+---------------+----------+-------+----------------+
|           race|payer_code| weight|         new_med|
+---------------+----------+-------+----------------+
|      Caucasian|   UNKNOWN|UNKNOWN|          Others|
|      Caucasian|   UNKNOWN|UNKNOWN|         UNKNOWN|
|AfricanAmerican|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|InternalMedicine|
|AfricanAmerican|   UNKNOWN|UNKNOWN|         UNKNOWN|
|AfricanAmerican|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|          Others|
|      Caucasian|   UNKNOWN|UNKNOWN|          Others|
|AfricanAmerican|   UNKNOWN|UNKNOWN|         UNKNOWN|
|AfricanAmerican|   UNKNOWN|UNKNOWN|         UNKNOWN|
|AfricanAmerican|   UNKNOWN|UNKNOWN|         UNKNOWN|
|      Caucasian|   UNKNOWN|UNKNOWN|      Cardiology|
|AfricanAmerican|   UNKNOWN|UNKNOWN|         UNKNOWN|
|        UNKNOWN|   UNKNOWN|UNKNOWN|         UNKNOWN|
+---------------+----------+-------+----------------+
only showing top 20 rows

In [160]:
df7.groupBy("new_med").count().orderBy("count", ascending=False).show(10)

+--------------------+-----+
|             new_med|count|
+--------------------+-----+
|             UNKNOWN|49949|
|              Others|15780|
|    InternalMedicine|14635|
|    Emergency/Trauma| 7565|
|          Cardiology| 5352|
|     Surgery-General| 3099|
|          Nephrology| 1613|
|         Orthopedics| 1400|
|Orthopedics-Recon...| 1233|
|         Radiologist| 1140|
+--------------------+-----+